header {
    margin-bottom: 0px;
}

#categories {
    width: 100%;
    background-color: #272727;
    margin-bottom: 15px;
}

#articles {
    padding-left: 10px;
}

nav {
    margin-right: 0px;
    width: 100%;
}

ul {
    padding: 10px;
    display: inline-block;
}

li {
    display: inline;
}

#content {
    flex-direction: column-reverse;
    padding-left: 0px;
}

.line-separator{
    width: 100%;
}

nav h3 {
    display: inline;
    padding-left: 15px;
}

nav ul li {
    display: inline;
}