body {
    margin-bottom: 8px;
}

header {
    margin-bottom: 12px;
}

#first {
    font-size: 220%;
}

#second {
    font-size: 120%;
}

p {
    font-size: 100%;
}

#admin {
    display: none;
}

#content {
    flex-direction: column;
    padding-left: 8px;
    padding-bottom: 8px;
}

#articles {
    padding-left: 0;
    padding-right: 8px;
}

.article {
    margin-bottom: 15px;
}

.article_content {
    padding-left: 0px;
}

.article_last {
    margin-bottom: 20px;
}

.line-separator {
    margin-top: 6px;
}

.article_link {
    margin-top: 8px;
}

aside {
    padding-right: 8px;
    margin-top: 5px;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

.categorie {
    font-size: 80%;
    display: block;
    line-height: 90%;
}

.infos {
    margin-bottom: 12px;
    font-size: 80%;
}

.speedpost {
    width: auto;
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-right: 0;
}

#speedposts {
    padding-left: 0px;
}

img {
    width: 100%;
    height: auto;
}