header {
    margin-bottom: 7px;
}

#content {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#first {
    font-size: 160%;
}

#second {
    font-size: 100%;
}

p, li{
    font-size: 90%;
}

.article_last h2 {
    line-height: 80%;
}

.speedpost, .lien {
    margin-right: 0;
}

#plus_moins {
    margin-left: 0px;
    margin-right: 0px;
}